body {
    margin: 0;
    overflow: hidden;
    background-image: url('test.jpg');
    font-family: Arial, Helvetica, sans-serif;
  }

h2{
    font-weight: bold;
    color: white;
    
}
p{
    color: white;
}

